// ==========================================================================
// Footer
// ==========================================================================
footer {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background: $footer-color;
	padding: em(47px) 0 em(37px);
	p {
		font-size: em(14px);
		color: $white;
		padding: 0;
		margin: 5px 0 0;
		font-style: normal;
	}
}
.footer-left {
	width: (700px / 1200px) * 100%;
	float: left;
	padding-left: em(50px);
	img {
		width: 50px;
	}
	h6 {
		font-family: $font-family--primary;
		font-size: em(14px);
		font-style: normal;
		color: $white;
		text-transform: uppercase;
		font-weight: $font-weight--medium;
		letter-spacing: 4px;
		margin: 0;
	}
}
.footer-right {
	width: (500px / 1200px) * 100%;
	position: relative;
	float: right;
	padding-right: em(50px);
	@include ghost;
	.ghosted {
		margin-top: 50px;
	}
	ul {
		text-align: right;
	}
	li {
		display: inline-block;
		padding-left: 10px;
	}
	img {
		width: 25px;
	}
	p {
		text-align: right;
		padding: 0;
	}
}