footer#contact.group.footer
  .footer__item.footer__item--info
    h6 Josh Walker
    p Visual Designer
  .footer__item.footer__item--social
    a(href='mailto:joshwalkerart@gmail.com')
      img(src='/assets/images/footer/email.png', alt='Link to email')
