footer#contact.group
  .footer-left
    h6 Josh Walker
    p Visual Designer
  .footer-right
    .ghosted
      ul
        li
          a(href='https://www.facebook.com/nathan.moser.98')
            img(src='/assets/images/footer/facebook.png', alt='Link to Facebook')
        li
          a(href='http://instagram.com/ndwmoser')
            img(src='/assets/images/footer/instagram.png', alt='Link to Instagram')
        li
          a(href='mailto:joshwalkerart@gmail.com')
            img(src='/assets/images/footer/email.png', alt='Link to email')
