header#home.home
  a.toggle-nav(href='#')
    .burger
  nav.nav
    ul.nav__list
      li.nav__item
        a.nav__link.nav__link--home(href='#home') Home
      li.nav__item
        a.nav__link.nav__link--about(href='#about') About
      li.nav__item
        a.nav__link.nav__link--work(href='#work') Work
      li.nav__item
        a.nav__link.nav__link--contact(href='#contact') Contact
      li.nav__item.nav__item--arrow
        a.nav__link(href='#')
          img.nav__arrow(src='/assets/images/mobile_nav_arrow.png')
  .title.ghosted
    h1 Josh Walker
    h6 Visual Designer
    a.btn.btn--about(href='#about') Hello
  section#about.about
    .toggle
      .burger
    .about__info.ghosted
      .about__item
        h4.about__title Its Nice To Meet You
        p.about__text My name is josh walker, and I am a Huntington university animation/graphic design student. The majority of my work is voxel art which is 3D generated pixels. Check out my work and get in contact if you like what you see.
      a.btn.btn--work(href='#work') View My Work
