extends ./layout.pug

block content
  //- #ideals.ideals-slider
  //-   div
  //-     .slider-inner
  //-       .slides.slides-luke
  //-         .quote.ghosted
  //-           h5 “Sometimes nothing can be a real cool hand.”
  //-           p - Cool Hand Luke
  //-       .slides.slides-miles
  //-         .quote.ghosted
  //-           h5 "Do not fear mistakes. There are none.”
  //-           p - Miles Davis
  //-       .slides.slides-ali
  //-         .quote.ghosted
  //-           h5
  //-             | "A man who views the world the same at 50 as he did at 20 has wasted 30 years of his life"
  //-           p - Muhammed Ali
  //-       .slides.slides-brando
  //-         .quote.ghosted
  //-           h5 “Never confuse the size of your paycheck with the size of your talent.”
  //-           p - Marlon Brando
  //-   .controls
  //-     .square.active-control
  //-     .square
  //-     .square
  //-     .square
  #work.container
    section.work.group
      .work__blurb
        h2 Work
        p Here's a handful of projects I've had the pleasure of working on during my time in school.
      .work__item(data-url="/assets/images/mobile_thumbs/01.png")
        img(src="/assets/images/mobile_thumbs/01.png", alt="")
        hr
        h2 Book
      .work__item(data-url="/assets/images/mobile_thumbs/02.png")
        img(src="/assets/images/mobile_thumbs/02.png", alt="")
        hr
        h2 Chicken
      .work__item(data-url="/assets/images/mobile_thumbs/03.png")
        img(src="/assets/images/mobile_thumbs/03.png", alt="")
        hr
        h2 City
      .work__item(data-url="/assets/images/mobile_thumbs/04.png")
        img(src="/assets/images/mobile_thumbs/04.png", alt="")
        hr
        h2 Dubs Logo
      .work__item(data-url="/assets/images/mobile_thumbs/05.png")
        img(src="/assets/images/mobile_thumbs/05.png", alt="")
        hr
        h2 Dugtrio
      .work__item(data-url="/assets/images/mobile_thumbs/06.png")
        img(src="/assets/images/mobile_thumbs/06.png", alt="")
        hr
        h2 Ekko
      .work__item(data-url="/assets/images/mobile_thumbs/07.png")
        img(src="/assets/images/mobile_thumbs/07.png", alt="")
        hr
        h2 Fish Bowl
      .work__item(data-url="/assets/images/mobile_thumbs/08.png")
        img(src="/assets/images/mobile_thumbs/08.png", alt="")
        hr
        h2 Floating Island
      .work__item(data-url="/assets/images/mobile_thumbs/09.png")
        img(src="/assets/images/mobile_thumbs/09.png", alt="")
        hr
        h2 Tree
      .work__item(data-url="/assets/images/mobile_thumbs/10.png")
        img(src="/assets/images/mobile_thumbs/10.png", alt="")
        hr
        h2 Giraffe
      .work__item(data-url="/assets/images/mobile_thumbs/11.png")
        img(src="/assets/images/mobile_thumbs/11.png", alt="")
        hr
        h2 Injured Man
      .work__item(data-url="/assets/images/mobile_thumbs/12.png")
        img(src="/assets/images/mobile_thumbs/12.png", alt="")
        hr
        h2 Island
      .work__item(data-url="/assets/images/mobile_thumbs/13.png")
        img(src="/assets/images/mobile_thumbs/13.png", alt="")
        hr
        h2 Jungle Path
      .work__item(data-url="/assets/images/mobile_thumbs/14.png")
        img(src="/assets/images/mobile_thumbs/14.png", alt="")
        hr
        h2 Park
      .work__item(data-url="/assets/images/mobile_thumbs/15.png")
        img(src="/assets/images/mobile_thumbs/15.png", alt="")
        hr
        h2 Rowlet
      .work__item(data-url="/assets/images/mobile_thumbs/16.png")
        img(src="/assets/images/mobile_thumbs/16.png", alt="")
        hr
        h2 Shark
      .work__item(data-url="/assets/images/mobile_thumbs/17.png")
        img(src="/assets/images/mobile_thumbs/17.png", alt="")
        hr
        h2 Skull
      .work__item(data-url="/assets/images/mobile_thumbs/18.png")
        img(src="/assets/images/mobile_thumbs/18.png", alt="")
        hr
        h2 Toucan
      .work__item(data-url="/assets/images/mobile_thumbs/19.png")
        img(src="/assets/images/mobile_thumbs/19.png", alt="")
        hr
        h2 Tree
      .work__item(data-url="/assets/images/mobile_thumbs/20.png")
        img(src="/assets/images/mobile_thumbs/20.png", alt="")
        hr
        h2 Unicorn
      .work__item(data-url="/assets/images/mobile_thumbs/21.png")
        img(src="/assets/images/mobile_thumbs/21.png", alt="")
        hr
        h2 Walrus
      .work__item(data-url="/assets/images/mobile_thumbs/22.png")
        img(src="/assets/images/mobile_thumbs/22.png", alt="")
        hr
        h2 Wasteland
      //- a.work__item(data-url="/assets/images/mobile_thumbs/00.png").nope(href='work/spacejunk/')
      //-   img(src='/assets/images/mobile_thumbs/01.jpg', alt='')
      //-   .work__overlay
      //-     .work__info
      //-       h2 Spacejunk Media
      //-       h6 Website Redesign
      //-       hr.work__short
      //-       h6 View More
      //- a.work__item(data-url="/assets/images/mobile_thumbs/00.png")(href='work/no-place/')
      //-   img(src='/assets/images/mobile_thumbs/02.jpg', alt='')
      //-   .work__overlay
      //-     .work__info
      //-       h2 Personal Work
      //-       h6 Mixed Media, Collage & No Place Studios
      //-       hr.work__short
      //-       h6 View More
      //- a.work__item(data-url="/assets/images/mobile_thumbs/00.png")(href='work/salon-lofts/')
      //-   img(src='/assets/images/mobile_thumbs/03.jpg', alt='')
      //-   .work__overlay
      //-     .work__info
      //-       h2 Salons Lofts
      //-       h6 Website Redesign & Digital Marketing
      //-       hr.work__short
      //-       h6 View More
      //- a.work__item(data-url="/assets/images/mobile_thumbs/00.png")(href='work/sullivan-bruck/')
      //-   img(src='/assets/images/mobile_thumbs/04.jpg', alt='')
      //-   .work__overlay
      //-     .work__info
      //-       h2 Sullivan Bruck
      //-       h6 Design Concepts & Execution
      //-       hr.work__short
      //-       h6 View More
      //- a.work__item(data-url="/assets/images/mobile_thumbs/00.png")(href='work/india/')
      //-   img(src='/assets/images/mobile_thumbs/05.jpg', alt='')
      //-   .work__overlay
      //-     .work__info
      //-       h2 Travels: India
      //-       h6 Image Gallery
      //-       hr.work__short
      //-       h6 View More
      //- a.work__item(data-url="/assets/images/mobile_thumbs/00.png")(href='work/demo-builder/')
      //-   img(src='/assets/images/mobile_thumbs/06.jpg', alt='')
      //-   .work__overlay
      //-     .work__info
      //-       h2 ADS: Demo Builder
      //-       h6 UI/UX, Art Direction, Design Execution
      //-       hr.work__short
      //-       h6 View More
      //- a.work__item(data-url="/assets/images/mobile_thumbs/00.png")(href='work/huawei/')
      //-   img(src='/assets/images/mobile_thumbs/07.jpg', alt='')
      //-   .work__overlay
      //-     .work__info
      //-       h2 Huawei Smartphones
      //-       h6 Ascend Mate2 Concepts and Typography
      //-       hr.work__short
      //-       h6 View More
      //- a.work__item(data-url="/assets/images/mobile_thumbs/00.png")(href='work/tell-collective/')
      //-   img(src='/assets/images/mobile_thumbs/08.jpg', alt='')
      //-   .work__overlay
      //-     .work__info
      //-       h2 Tell Collective
      //-       h6 Logo Concepts and Illustration
      //-       hr.work__short
      //-       h6 View More
