// ==========================================================================
// Footer
// ==========================================================================
.footer {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background: $footer-color;
	padding: 40px 20px;
	font-size: 0;
	p {
		font-size: em(14px);
		color: $white;
		padding: 0;
		margin: 5px 0 0;
		font-style: normal;
	}
	.footer__item {
		width: 50%;
		display: inline-block;
		vertical-align: middle;
		h6 {
			font-family: $font-family--primary;
			font-size: 14px;
			font-style: normal;
			color: $white;
			text-transform: uppercase;
			font-weight: $font-weight--medium;
			letter-spacing: 4px;
			margin: 0;
		}
		&--social {
			text-align: right;
		}
	}
}
